@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800&display=swap');
@import url('./base.css');
@import url('./reset.css');
@import url('./common.css');
@import url('./header.css');

:root {

  /* Максимальная ширина полотна */
  --max-page-width: 1920px;
  /* Ширина ограничивающего контейнера */
  --container-max-width: 1200px;
  /* Общий паддинг слева и справа у контейнера */
  --container-padding: 15px;
}