<section class="page__about about">
    <div class="about__container">
        <div data-tabs class="tabs">
            <nav data-tabs-titles class="tabs__navigation">
                <button type="button" class="tabs__title _tab-active">Таб №1</button>
                <button type="button" class="tabs__title">Таб №2</button>
                <button type="button" class="tabs__title">Таб №3</button>
            </nav>
            <div data-tabs-body class="tabs__content">
                <div class="tabs__body">
                    Вміст першого таба
                </div>
                <div class="tabs__body">
                    Вміст другого таба
                </div>
                <div class="tabs__body">
                    Вміст третього таба
                </div>
            </div>
        </div>
    </div>
</section>