<section class="page__about about">
    <div class="about__container">
        <div class="tab">
            <div class="tab__nav-bar">
                <div class="tab__navigation">
                    <i class="uil uil-angle-left-b tab__left-btn"></i>
                    <i class="uil uil-angle-right-b tab__right-btn"></i>
                    <ul class="tab__menu">
                        <li class="tab__btn active">Dnipro</li>
                        <li class="tab__btn">Kiev</li>
                        <li class="tab__btn">Tokyo</li>
                        <li class="tab__btn">Cairo</li>
                        <li class="tab__btn">Rome</li>
                        <li class="tab__btn">Paris</li>
                        <li class="tab__btn">Barcelona</li>
                        <li class="tab__btn">Los Angeles</li>
                        <li class="tab__btn">Rio De Janeiro</li>
                        <li class="tab__btn">Amsterdam</li>
                        <li class="tab__btn">New York</li>
                        <li class="tab__btn">San Francisko</li>
                    </ul>
                </div>
            </div>
        
            <div class="tab__content content-tab">
        
                <div class="content-tab__card active">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/dnipro.jpg" alt="dnipro-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Dnipro</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="../img/city/Kyiv.jpg" alt="kyiv-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Kyiv</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/Tokyo.jpg" alt="tokyo-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Tokyo</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/cairo.jpg" alt="cairo-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Cairo</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/Rome.jpg" alt="rome-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Rome</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/Paris.jpg" alt="paris-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Paris</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/Barcelona.jpg" alt="barcelona-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Barcelona</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/la.jpg" alt="la-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Los Angeles</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/Rio.jpg" alt="rio-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Rio De Janeiro</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/amsterdam.jpg" alt="amsterdam-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">Amsterdam</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/New York.jpg" alt="ny-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">New York</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="content-tab__card">
                    <div class="content-tab__row">
                        <div class="content-tab__left">
                            <div class="content-tab__img">
                                <img src="img/city/sf.jpg" alt="sf-city">
                            </div>
                        </div>
                        <div class="content-tab__right">
                            <div class="content-tab__info">
                                <h2 class="content-tab__title">San Francisko</h2>
                                <div class="content-tab__description">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus possimus
                                        dolores
                                        sequi qui, maiores tempore eos recusandae earum saepe, harum velit maxime rerum repellat
                                        repudiandae dolore reiciendis ratione magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>