<header class="header">
<div class="header__container">
  <a href="" class="header__logo">Logo</a>
  <nav class="header__menu menu">
    <ul class="menu__list">
      <li class="menu__item">
        <a href="../index.html" class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a href="../page-2.html" class="menu__link">Portfolio</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Networking</a>
      </li>
    </ul>
</nav>
</div>
</header>
